$def with (form, ua)

<html>
<head>
<title>Chromebook Address Registration</title>
<style type="text/css">
body     { font-family:Verdana,Arial,Helvetica,sans-serif; }
form th  { text-align:right; }
p.wrong, strong.wrong  { color:red; }
p.small  { font-size:small; }
</style>
</head>
<body>
<h3>Chromebook Address Registration</h3>
<p>Please enter information in all fields, then click Submit.</p>
<form name="register" method="post"> 
$if not form.valid:
  <p class="wrong">Please correct errors shown below</p>
$:form.render()
<input type="submit" />    
</form>
<p class="small">Browser: $ua</p>
</body>
</html>